body {
  background-image:linear-gradient(black,silver);
}

h1{
  font-weight: bold;
  color: rgb(245, 245, 245);
  background-color:silver;
  text-align: center;
}
#p1{
  color:rgb(10,10,10);
  background-color:gainsboro
  }
#p2{
  color: rgb(25, 50, 25);
  background-color: silver;
}

div > h3{
  background-color: grey;
}