body {
  background-color:rgb(146, 145, 145);
}

h1{
  font-weight: bold;
  color:red;
  background-color:blue;
}
#p1{
  color:rgb(10,10,10);
  background-color:gainsboro
  }
#p2{
  color: rgb(25, 50, 25);
  background-color: silver;
}

div > h3{
  background-color: skyblue;
}